<ion-header>
  <ion-toolbar color="teal">
    <ion-title>Rideshare</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="card" style="background:url(assets/background3.jpg);">
    <div>
      <img src='assets/opay.jpeg'/>
    </div>
  </div>
  <div class="container">
    <div class="button-1">
      <ion-button (click)="book()" shape="round" fill="outline" color="teal" size="small">
        <ion-icon slot="start" name="book"></ion-icon>
          Book Now
      </ion-button>
    </div>
    <div class="button-2">
      <ion-button (click)="closeModal()" shape="round" fill="outline" color="teal" size="small">
        <ion-icon slot="start" name="close"></ion-icon>
          Close
      </ion-button>
    </div>
  </div>
   <!-- <a href="#" onclick="window.open('https://play.google.com/store/apps/details?id=team.opay.pay', '_system', 'location=yes'); return false;">
        Web
    </a>  -->
</ion-content>
