
<ion-content padding>
  <div class="chats" style="background:url(assets/intro.png);"> 
    <ion-slides pager="true">
      <ion-slide class="step-one">
        <p> Please Follow Instructions on how to use the app</p>
        <ion-button color="primary" (click)="next()">NEXT</ion-button>
      </ion-slide>
      <ion-slide class="step-two">
        <ion-img src="/assets/chat.png"></ion-img>
        <p></p>
        <ion-button color="primary" (click)="finish()">FINISH</ion-button>
      </ion-slide>
    </ion-slides>
  </div> 
</ion-content>
